



@font-face {
	font-family: 'DreadFont';
	src: url( astrolyt.ttf ), url( ubuntu.ttf );
	font-weight: 600;
	font-style: normal;
}


.hello {
	font-family: 'DreadFont';
	background: url( './dragon.png' );
	color: red;
}


